# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# build outputs
/dist
/build
/out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
bun-debug.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# test artifacts
test-results.json
test-results-*.json
playwright-report*
test-results/
