apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: PostgreSQL
    type: postgres
    uid: postgres-indexer
    access: proxy
    url: ${POSTGRES_HOST:-squid-db-1}:${POSTGRES_PORT:-5432}
    database: ${POSTGRES_DB:-indexer}
    user: ${POSTGRES_USER:-postgres}
    secureJsonData:
      password: ${POSTGRES_PASSWORD}
    jsonData:
      sslmode: ${POSTGRES_SSLMODE:-require}
      postgresVersion: 1500
