apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dws-registry.fullname" . }}-config
  labels:
    {{- include "dws-registry.labels" . | nindent 4 }}
data:
  config.yml: |
    version: 0.1
    log:
      level: {{ .Values.config.http.debug.prometheus.enabled | ternary "info" "warn" }}
      formatter: json
    storage:
      {{- if eq .Values.config.storage.backend "ipfs" }}
      # Custom IPFS driver configuration
      ipfs:
        apiEndpoint: {{ .Values.config.storage.ipfs.apiEndpoint | quote }}
        gateway: {{ .Values.config.storage.ipfs.gateway | quote }}
        pin: {{ .Values.config.storage.ipfs.pinImages }}
        {{- if .Values.config.storage.ipfs.filecoinEnabled }}
        filecoin:
          enabled: true
        {{- end }}
      {{- else }}
      filesystem:
        rootdirectory: {{ .Values.config.storage.filesystem.rootDirectory }}
        maxthreads: {{ .Values.config.storage.filesystem.maxThreads }}
      {{- end }}
      cache:
        blobdescriptor: {{ .Values.config.storage.cache.blobDescriptor }}
        blobdescriptorsize: 10000
      delete:
        enabled: {{ .Values.config.storage.delete.enabled }}
      redirect:
        disable: {{ .Values.config.storage.redirect.disable }}
    http:
      addr: {{ .Values.config.http.addr }}
      headers:
        X-Content-Type-Options: [nosniff]
      http2:
        disabled: {{ .Values.config.http.http2.disabled }}
      debug:
        addr: {{ .Values.config.http.debug.addr }}
        prometheus:
          enabled: {{ .Values.config.http.debug.prometheus.enabled }}
          path: {{ .Values.config.http.debug.prometheus.path }}
    {{- if .Values.config.auth.token.autoredirect }}
    auth:
      token:
        autoredirect: {{ .Values.config.auth.token.autoredirect }}
        realm: {{ .Values.config.auth.token.realm | quote }}
        service: {{ .Values.config.auth.token.service | quote }}
        issuer: {{ .Values.config.auth.token.issuer | quote }}
    {{- end }}
    {{- if .Values.config.notifications.endpoints }}
    notifications:
      endpoints:
        {{- range .Values.config.notifications.endpoints }}
        - name: {{ .name | quote }}
          url: {{ .url | quote }}
          timeout: {{ .timeout }}
          threshold: {{ .threshold }}
          backoff: {{ .backoff }}
          headers:
            {{- range $key, $value := .headers }}
            {{ $key }}: {{ toJson $value }}
            {{- end }}
        {{- end }}
    {{- end }}
    health:
      storagedriver:
        enabled: {{ .Values.config.health.storageDriver.enabled }}
        interval: {{ .Values.config.health.storageDriver.interval }}
        threshold: {{ .Values.config.health.storageDriver.threshold }}

